@charset "utf-8";
/*--------------------公共样式------------------------------*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "黑体";
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
img { border: 0;}
li { list-style: none;}
.fl{ float:left;}
.fr{ float:right;}
.clear:after{
	content: "";
	display: block;
	clear: both;
	overflow: hidden;
	visibility:hidden;
}
a{
	cursor: pointer;
}
html,body{
	width: 100%;
	height: 100%;
}
button{
	background: none;
	outline: none;
	border: 0;
}
/*---------------------公共样式------------------------------*/
/*---------------------login------------------------------*/
.wrap-header{
	width: 100%;
	height: 6.1rem;
	border-bottom: 1px solid #dadada;
	box-sizing: border-box;
	background: #ebebeb;
}
.logo{
	display: block;
	width: 5.14rem;
	height: 1.22rem;
	margin:0 auto;
	padding:2.04rem 0 0.28rem 0;
	
}
.logo-txt{
	width: 5.14rem;
	font-size: 0.48rem;
	margin:0 auto;
	font-family: "黑体";
	color: #727272;
	letter-spacing: 0.16rem;
	
}
.wrap-login{
	width:100%;
	height: 18.02rem;
	box-sizing: border-box;
	padding:0 0.4rem 0;

}

.same-form{
	width: 100%;
	height: 1.98rem;
	border-bottom: 1px solid #dadada;
	font-size: 0.64rem;
	line-height: 1.98rem;
	color: #969696;
}
.same-form input{
	border:0;
	font-size: 0.64rem;
	text-indent:1rem ;
	height: 1.98rem;
	line-height: 1.98rem;
	outline: none;
}
.same-form button{
	color: #07ca61;
	font-size: 0.64rem;
	display: block;
	float: right;
	height: 1.98rem;
	line-height: 1.98rem;
}
.notice{
	margin-top:0.4rem;
	font-size: 0.56rem;
	color:#969696;
	background: url(../img/login-icon.png) no-repeat left center;
	text-indent: 0.5rem;
}
.notice a{
	color: #07ca61;
}
.submit-login{
	width: 100%;
	height: 1.92rem;
	line-height: 1.92rem;
	background: #07ca61;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	font-size: 0.64rem;
	margin-top:1.6rem;
}
-webkit-input-placeholeder{
	color :#ccc;
}
input{
	
}
/*---------------------login------------------------------*/

